.place__title {
  max-width: 460px;
  grid-area: title;
  font-size: 72px;
  font-weight: 900;
  line-height: 1.06;
  margin: 0;
}
@media (max-width: 1024px) and (min-width: 769px) {
  .place__title {
    max-width: 340px;
    font-size: 57px;
    line-height: 1.07;
  }
}
@media (max-width: 768px) and (min-width: 750px) {
  .place__title {
    max-width: 340px;
    font-size: 42px;
    line-height: 1.09;
  }
}
@media (max-width: 749px) and (min-width: 550px) {
  .place__title {
    width: 100%;
    font-size: 42px;
    line-height: 1.09;
  }
}
@media (max-width: 549px) and (min-width: 300px) {
  .place__title {
    width: 100%;
    font-size: 32px;
    line-height: 1.09;
    margin-left: 16px;
  }
}
