.page {
  background-color: #2a2c2f;
  margin: auto;
  font-family: "Inter", sans-serif;
  box-sizing: border-box;
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 1440px;
}
