.cover__paragraph {
  width: 191px;
  height: 48px;
  background: #0278fe;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 32px 0 0;
  transition: ease 2s;
}
.cover__paragraph a {
  margin: 0;
  font-size: 18px;
  font-weight: 600;
  line-height: 1.22;
  text-decoration: none;
  color: #fff;
}
@media screen {
  .cover__paragraph:hover {
    background: #0063d2;
  }
}
