.logo {
  position: relative;
  width: 270px;
  height: 70px;
  background-image: url(../../images/logo__image.png);
  background-size: 270px 70px;
  background-repeat: no-repeat;
  background-position: center;
  padding: 34px 0 0;
  align-self: center;
}
