.lead__subtitle {
  width: 720px;
  font-size: 30px;
  font-weight: normal;
  line-height: 1.2;
  text-align: center;
  margin: 32px 0 0;
}
@media (max-width: 1024px) and (min-width: 769px) {
  .lead__subtitle {
    margin-top: 66px;
  }
}
@media (max-width: 768px) and (min-width: 750px) {
  .lead__subtitle {
    margin-top: 99px;
  }
}
@media (max-width: 749px) and (min-width: 550px) {
  .lead__subtitle {
    width: 100%;
    margin-top: 99px;
  }
}
@media (max-width: 549px) and (min-width: 300px) {
  .lead__subtitle {
    width: 96%;
    margin-top: 60px;
    font-size: 16px;
    line-height: 1.25;
  }
}
