.place__photo {
  max-width: 460px;
  width: 100%;
  grid-area: image;
}
@media (max-width: 1024px) and (min-width: 769px) {
  .place__photo {
    max-width: 400px;
    max-height: 400px;
  }
}
@media (max-width: 768px) and (min-width: 750px) {
  .place__photo {
    max-width: 340px;
    max-height: 340px;
  }
}
@media (max-width: 749px) and (min-width: 550px) {
  .place__photo {
    max-width: 100%;
    width: 100%;
  }
}
@media (max-width: 549px) and (min-width: 300px) {
  .place__photo {
    min-width: 320px;
    width: 100%;
  }
}
