@font-face {
  font-family: "Inter";
  src: url(../fonts/Inter-Regular.woff);
  font-weight: 400;
}

@font-face {
  font-family: "Inter";
  src: url(../fonts/Inter-SemiBold.woff);
  font-weight: 600;
}

@font-face {
  font-family: "Inter";
  src: url(../fonts/Inter-Black.woff);
  font-weight: 900;
}

.page {
  background-color: #2a2c2f;
  margin: auto;
  font-family: "Inter", sans-serif;
  box-sizing: border-box;
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 1440px;
}
.logo {
  position: relative;
  width: 270px;
  height: 70px;
  background-image: url(../images/logo__image.png);
  background-size: 270px 70px;
  background-repeat: no-repeat;
  background-position: center;
  padding: 34px 0 0;
  align-self: center;
}

.lead {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.lead__title {
  max-width: 793px;
  font-size: 96px;
  line-height: 1.04;
  text-align: center;
  margin: 90px 0 0;
}

.lead__subtitle {
  width: 720px;
  font-size: 30px;
  font-weight: normal;
  line-height: 1.2;
  text-align: center;
  margin: 32px 0 0;
}

.lead__image {
  max-width: 984px;
  width: 100%;
  max-height: 615px;
  height: 100%;
  margin: 64px auto 0;
  filter: grayscale(100%);
}

.intro {
  max-width: 1017px;
  margin: 92px 0 50px;
}

.intro__title {
  font-size: 54px;
  font-weight: 900;
  line-height: 1.07;
  margin: 0;
}

.intro__quote {
  max-width: 720px;
  font-size: 24px;
  line-height: 1.42;
  margin: 40px 0 0;
}

.intro__quote-author {
  max-width: 720px;
  font-size: 24px;
  line-height: 1.42;
  text-align: right;
  margin: 10px 0 0;
}

.intro__text {
  max-width: 720px;
  font-size: 16px;
  line-height: 1.63;
  margin: 32px 0 0;
}

.photo-grid {
  max-width: 1184px;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin: 68px auto 0;
  gap: 16px;
}

.photo-grid__image {
  max-width: 284px;
  max-height: 213px;
}

.places {
  display: flex;
  flex-direction: column;
  row-gap: 80px;
  align-items: center;
  width: 984px;
  margin: 92px auto;
}

.place {
  max-width: 984px;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-areas:
    "title ."
    "title website"
    "image paragraphs"
    "image paragraphs"
    "buy paragraphs"
    ". paragraphs";
  row-gap: 48px;
  column-gap: 40px;
}

.place__title {
  max-width: 460px;
  grid-area: title;
  font-size: 72px;
  font-weight: 900;
  line-height: 1.06;
  margin: 0;
}

.place__photo {
  max-width: 460px;
  width: 100%;
  grid-area: image;
}

.place__frame {
  margin: 0;
  width: 355px;
  height: 48px;
  background: #0278fe;
  border-radius: 4px;
  grid-area: buy;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: ease 2s;
}

.place__frame:hover {
  background: #0063d2;
}

.place__frame a {
  margin: 0;
  font-size: 18px;
  font-weight: 600;
  line-height: 1.22;
  text-decoration: none;
  color: #fff;
}

.website {
  grid-area: website;
  max-width: 456px;
  display: flex;
  flex-direction: column;
}

.website__url-heading {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.25;
  letter-spacing: 0.12em;
  text-transform: uppercase;
  margin: 0 0 8px;
  color: #aaa;
}

.website__artist {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.22;
  margin: 0;
}

.place__paragraphs {
  grid-area: paragraphs;
  display: flex;
  flex-direction: column;
  row-gap: 25px;
  margin: 0;
}

.place__paragraph {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.63;
  margin: 0;
}

.cover {
  margin: 0 auto;
  max-width: 1184px;
  width: 100%;
  height: 740px;
  background: url(../images/cover__background.png) rgba(42, 44, 47, 0.3);
  background-size: cover;
  background-blend-mode: multiply;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  transition: ease 2s;
}

.cover__title {
  margin: 0 0 32px;
  font-size: 72px;
  font-weight: 900;
  line-height: 1.06;
}

.cover__subtitle {
  width: 280px;
  height: 66px;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.22;
  margin: 0;
  white-space: pre-line;
}

.cover__paragraph {
  width: 191px;
  height: 48px;
  background: #0278fe;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 32px 0 0;
  transition: ease 2s;
}

.cover__paragraph a {
  margin: 0;
  font-size: 18px;
  font-weight: 600;
  line-height: 1.22;
  text-decoration: none;
  color: #fff;
}

.footer {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
}

.footer__copyright {
  margin: 92px 0 24px;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.14;
}

@media screen {
  .cover:hover {
    background: url(../images/cover__background.png) rgba(42, 44, 47, 0.8);
    background-size: cover;
    background-blend-mode: multiply;
  }
  .cover__paragraph:hover {
    background: #0063d2;
  }
}

@media (max-width: 1024px) and (min-width: 769px) {
  .lead__title {
    min-width: 720px;
  }
  .lead__subtitle {
    margin-top: 66px;
  }
  .intro {
    min-width: 720px;
  }
  .photo-grid__image {
    max-width: 352px;
    max-height: 264px;
  }
  .places {
    width: 733px;
  }

  .place {
    max-width: 786px;
    column-gap: 15px;
  }
  .place__title {
    max-width: 340px;
    font-size: 57px;
    line-height: 1.07;
  }
  .place__photo {
    max-width: 400px;
    max-height: 400px;
  }
  .website {
    max-width: 365px;
  }
  .place__paragraph {
    font-size: 16px;
    line-height: 1.62;
  }
}

@media (max-width: 768px) and (min-width: 750px) {
  .lead__title {
    max-width: 720px;
  }
  .lead__subtitle {
    margin-top: 99px;
  }
  .intro {
    max-width: 720px;
  }
  .photo-grid__image {
    max-width: 352px;
    max-height: 264px;
  }
  .places {
    width: 733px;
  }

  .place {
    max-width: 733px;
    column-gap: 13px;
  }
  .place__title {
    max-width: 340px;
    font-size: 42px;
    line-height: 1.09;
  }
  .place__photo {
    max-width: 340px;
    max-height: 340px;
  }
  .website {
    max-width: 365px;
  }
  .place__paragraph {
    font-size: 16px;
    line-height: 1.62;
  }
}

@media (max-width: 749px) and (min-width: 550px) {
  .lead {
    width: 100%;
  }
  .lead__title {
    width: 100%;
  }
  .lead__subtitle {
    width: 100%;
    margin-top: 99px;
  }
  .intro {
    width: 100%;
  }
  .places {
    width: 100%;
    align-items: center;
    justify-content: center;
  }

  .place {
    margin: 0 auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .place__title {
    width: 100%;
    font-size: 42px;
    line-height: 1.09;
  }
  .place__photo {
    max-width: 100%;
    width: 100%;
  }
  .website {
    width: 90%;
  }
  .place__paragraphs {
    width: 100%;
  }
  .place__paragraph {
    font-size: 16px;
    line-height: 1.62;
  }
}
@media (max-width: 549px) and (min-width: 300px) {
  .lead {
    width: 100%;
  }
  .lead__title {
    max-width: 288px;
    width: 100%;
    margin-top: 50px;
    font-size: 40px;
    line-height: 1.1;
  }
  .lead__subtitle {
    width: 96%;
    margin-top: 60px;
    font-size: 16px;
    line-height: 1.25;
  }
  .intro {
    margin: 44px 0 0;
    width: 100%;
  }
  .intro__title {
    font-size: 32px;
    line-height: 1.09;
    margin: 0 16px;
  }
  .intro__quote {
    line-height: 1.25;
    margin: 9px 16px 0;
  }
  .intro__quote-author {
    margin: 10px 16px 0;
  }
  .intro__text {
    margin: 18px 16px 0;
  }
  .photo-grid {
    min-width: 288px;
    margin-top: 38px;
  }
  .photo-grid__image {
    max-width: 288px;
    max-height: 216px;
  }
  .places {
    margin-top: 62px;
    width: 100%;
    align-items: center;
    justify-content: center;
  }
  .place {
    margin: 0 auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 30px;
  }
  .place__title {
    width: 100%;
    font-size: 32px;
    line-height: 1.09;
    margin-left: 16px;
  }
  .place__photo {
    min-width: 320px;
    width: 100%;
  }
  .website {
    width: 90%;
  }
  .place__paragraphs {
    width: 100%;
  }
  .place__paragraph {
    font-size: 16px;
    line-height: 1.62;
  }
  .place__frame {
    width: 288px;
  }
  .place__frame a {
    font-size: 14px;
    line-height: 1.14;
  }

  .cover {
    max-width: 320px;
    max-height: 254px;
    width: 100%;
  }

  .cover__title {
    font-size: 32px;
    line-height: 1.09;
  }
  .cover__subtitle {
    font-size: 14px;
    line-height: 1.14;
  }
}
