@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;900&display=swap");

.page {
  font-family: "Inter", sans-serif;
  background-color: #2a2c2f;
  box-sizing: border-box;
  color: #fff;
  display: flex;
  flex-direction: column;
  max-width: 1280px;
}
.logo {
  position: relative;
  width: 270px;
  height: 70px;
  background-image: url(../images/__logo.png);
  background-size: 270px 70px;
  background-repeat: no-repeat;
  background-position: center;
  padding: 34px 0 0;
  align-self: center;
}

.lead {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.lead__title {
  width: 793px;
  height: 200px;
  font-size: 96px;
  line-height: 100px;
  text-align: center;
  margin: 91px 0 0;
}

.lead__subtitle {
  width: 720px;
  height: 72px;
  font-size: 30px;
  font-weight: normal;
  line-height: 36px;
  text-align: center;
  margin: 32px 0 0;
}

.lead__image {
  width: 984px;
  height: 615px;
  margin: 64px 0 0;
  background: url(../images/kalegin-michail-179870-unsplash.png);
  background-size:cover;
  background-blend-mode: multiply;
  filter: grayscale(100%);
}

.intro {
  width: 785px;
  margin: 92px 0 50px 148px;
}

.intro__title {
  font-size: 54px;
  font-weight: 900;
  line-height: 58px;
  margin: 0;
}

.quote {
  width: 720px;
  font-size: 24px;
  line-height: 34px;
  margin: 40px 0 0;
}

.quote__author {
  width: 720px;
  font-size: 24px;
  line-height: 34px;
  text-align: right;
  margin: 10px 0 0;
}

.intro__text {
  width: 720px;
  font-size: 16px;
  line-height: 26px;
  text-align: justify;
  margin: 32px 0 0;
}

.photo-grid {
  margin: 68px 48px 0;
  display: grid;
  grid-template-columns: auto auto auto auto;
  grid-gap: 16px;
}

.photo-grif__image {
  width: 284px;
  height: 213px;
}

.places {
  display: flex;
  flex-direction: column;
  row-gap: 80px;
  align-items: center;
  width: 984px;
  margin: 92px auto;
}

.place {
  width: 984px;
  display: grid;
  grid-template-areas:
    "title ."
    "title website"
    "image paragraphs"
    "image paragraphs"
    "buy paragraphs";
  row-gap: 48px;
  column-gap: 40px;
}

.place__title {
  width: 460px;
  grid-area: title;
  font-size: 72px;
  font-weight: 900;
  line-height: 76px;
  margin: 0;
}

.place__photo {
  width: 460px;
  height: 460px;
  grid-area: image;
}

.place__frame {
  width: 248px;
  height: 48px;
  background: #0278fe;
  border-radius: 4px;
  grid-area: buy;
  display: flex;
  align-items: center;
  justify-content: center;
}

.place__frame p {
  margin: 0;
  font-size: 18px;
  font-weight: 600;
  line-height: 22px;
}

.website {
  grid-area: website;
  width: 456px;
  height: 45px;
  display: flex;
  flex-direction: column;
}

.website__url-heading {
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  letter-spacing: 0.12em;
  text-transform: uppercase;
  margin: 0 0 8px;
  color: #aaa;
}

.website__artist {
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  margin: 0;
}

.place__paragraphs {
  grid-area: paragraphs;
  display: flex;
  flex-direction: column;
  row-gap: 25px;
  margin: 0;
}

.website__paragraph {
  font-weight: 400;
  font-size: 18px;
  line-height: 163%;
  margin: 0;
}

.cover {
  margin: 0 auto;
  width: 1184px;
  height: 740px;
  background: url(../images/__background.png) rgba(42, 44, 47, 0.3);
  background-size:cover;
  background-blend-mode: multiply;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.cover__title {
  margin: 0 0 32px;
  font-size: 72px;
  font-weight: 900;
  line-height: 76px;
}

.cover__subtitle {
  width: 280px;
  height: 66px;
  font-size: 18px;
  font-weight: 400;
  line-height: 22px;
  margin: 0;
  white-space: pre-line;
}

.cover__paragraph {
  width: 137px;
  height: 48px;
  background: #0278fe;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 32px 0 0;
}

.cover__paragraph p {
  margin: 0;
  font-size: 18px;
  font-weight: 600;
  line-height: 22px;
}

.footer {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
}

.footer__copyright {
  margin: 92px 0 24px;
  font-size: 14px;
  font-weight: 400;
  line-height: 16px;
}